<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>feedbackignite</servlet-name>
    <servlet-class>TCOE.servlets.feedback</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OnlineMember</servlet-name>
    <servlet-class>TCOE.servlets.OnlineMember</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fishpond</servlet-name>
    <servlet-class>TCOE.servlets.fishpond</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>TCOE.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FishComments</servlet-name>
    <servlet-class>TCOE.servlets.FishComments</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>TCOE.servlets.ResetPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DisplayImage</servlet-name>
    <servlet-class>TCOE.servlets.DisplayImage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Registration</servlet-name>
    <servlet-class>TCOE.servlets.Registration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewServlet_test</servlet-name>
    <servlet-class>NewServlet_test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackignite</servlet-name>
    <url-pattern>/feedbackignite</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fishpond</servlet-name>
    <url-pattern>/fishpond</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FishComments</servlet-name>
    <url-pattern>/FishComments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DisplayImage</servlet-name>
    <url-pattern>/DisplayImage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewServlet_test</servlet-name>
    <url-pattern>/NewServlet_test</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>OnlineMember</servlet-name>
    <url-pattern>/OnlineMember</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>